[Unit]
Description=Tomcat service 

[Service]
User=ec2-user
ExecStart="{{tomcat_path}}/bin/startup.sh"
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target