[Unit]
Description=Tomcat service 

[Service]
User={{service_account}}
ExecStart={{tomcat_path}}/bin/catalina.sh run
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target